body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
main img {
  margin: 20px;
  width: 300px;
}
main .green {
  margin-left: 0px;
  float: left;
}
main .blue {
  margin-right: 0px;
  float: right;
}